{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block topbar_base %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="span4"></div>
        <div class="span4">
            <h1>Tasks</h1>
            <p class="lead">
                A sample tasks app to demonstrate how to use
                <a href="https://github.com/eldarion/bootstrap-ajax/">
                    bootstrap-ajax
                </a>
            </p>
            <form class="form-inline ajax" method="post" action="{% url task_add %}" data-append="#tasks">
                {% csrf_token %}
                <div class="input-append">
                    <input type="text" class="span4" name="label" placeholder="Enter a task...">
                </div>
            </form>
            {% include "_complete_count.html" %}
            <div id="message"></div>
            <table class="table table-striped" id="tasks">
                {% for task in tasks %}
                    {% include "_task.html" %}
                {% endfor %}
            </table>
        </div>
        <div class="span4"></div>
    </div>
{% endblock %}
