{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
    <style type="text/css">
        .task-label {
            margin: 10px 0;
            width: 250px;
        }
        #done-count h2 {
            text-align: center;
        }
    </style>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    <script src="https://raw.github.com/eldarion/bootstrap-ajax/master/js/bootstrap-ajax.js"></script>
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
